*{
    box-sizing: border-box;
}

body{
    background-color: darkslategray;
}

main{
    display: grid;
    height: 700px;
    width: 700px;
    grid-template-rows: auto;
    grid-template-columns: auto;
}

.field{
    background-color: crimson;
    border: 1px solid black;
}