*{
    box-sizing: border-box;
}

body{
    background-color: darkslategray;
}

#center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

main{
    display: grid;
    height: 700px;
    width: 700px;
    grid-template-rows: auto;
    grid-template-columns: auto;
}

.field{
    background-color: crimson;
    border: 1px solid black;
}

form label{
    color: white;
}