*{
    box-sizing: border-box;
}

html, body{
    background-color: darkslategray;
    min-height: 100vh;
    margin: 0;
}

main{
    min-height: 100vh;
    margin: 0;
}

.field{
    border: 1px solid black;
    height: 25vh;
    width: 25%;
    display: inline-block;
}


